<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Your Bloom Friends</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="shortcut icon" type="image/png" href="/static/img/favicon.ico" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:300,400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/main.css">
    </head>

    <body>
        <div class="container" style="margin-top:0;">
            <div class="title-logo"><img src="../static/img/bloom.png"></div>
            <div class="hide-friends-scrollbar">
                <div class="friends-box">
                    <p class="white">check out your friends' plants!</p>
                    <i style="margin:0 auto;width:10%;display:block;color:#fff;" class="fa fa-smile-o fa-4x"></i>
                    <p class="white" style="margin:0;font-size:15px;">Miranda's Daisies</p>
                    <img src="/static/img/friendplant-1.png" />
                    <p class="white" style="margin:0; font-size:15px;">Minh's Roses</p>
                    <img src="/static/img/friendplant-2.png" />
                </div>
            </div>
        </div>
    </body>

</html>
